/praktikum-bab2/nbproject/private/
/praktikum-2/nbproject/private/
/praktikum-2/build/
/praktikum-3/nbproject/private/
/praktikum-3/build/
/praktikum-fibonacci-prima/nbproject/private/
/praktikum-fibonacci-prima/build/
/post-test/nbproject/private/
/post-test/build/
/praktikum-6/nbproject/private/
/praktikum-6/build/
/pratikum6/nbproject/private/
/pratikum6/build/
/praktikum7/nbproject/private/
/praktikum7/build/
/ProjectUTS/nbproject/private/
/ProjectUTS/build/
